#homepic {
    /*text-align: center;*/
    /*justify-content: center;*/
    position: absolute;
    height: 100%;
    width: 100%;
    /*background: url("/static/images/indexbg.jpeg") no-repeat center center fixed;*/
    /*background-size: contain;*/
    /*margin: 0 auto;*/
}
#home-pic {
    border: none;
    max-height: 100%;
    height: auto;
    max-width: 100%;
    width: auto;
/*    padding-bottom: 50px;*/
}

#footer {
    position: fixed;
    background-color: black;
    bottom: 0px;
    width: 100%;
}

#footer-menu {
    width:100%;
}
th {
    text-align: center;
    padding: 20px;
}
