<!DOCTYPE html>
<html>
<head>
  {% include 'partials/head.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Benjamin Ashbaugh</title>
</head>
<body>
<div id="homepic">
<image id="hpic" src="{{ url_for('static', filename='images/indexbg.jpeg')}}" alt="sorry, the picture won't load for some reason..."/>
</div>
<p class="green-text"><strong>Hello. This is my website. if this homepage is not working <a href="statichome">go here</a>.</strong></p>
<a id="button-blog" href="blog">
<a id="button-about" href="about-me">
</body>
</html>
