<!DOCTYPE html>
<html>
<head>
  {% include 'partials/head.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Benjamin Ashbaugh</title>
</head>
<body>
<!--homescreen picture -->
<div>
	<img id="home-pic"src="{{ url_for('static', filename='images/indexbg.jpeg') }}" width="2957" height="2177" usemap="#home-pic" alt="">
	<map name="home-pic">
    	<area target="" alt="My Blog" title="My Blog" href="/blog" coords="807,1641,-2,968" shape="rect">
    	<area target="" alt="About Benjamin" title="About Benjamin" href="/about-me" coords="1009,300,1971,751" shape="rect">
</map>
</div>
<!--footer at bottom of page -->
<div id="footer">
	<table id="footer-menu">
		<tr>
			<th><a href="/about-me">About Me</a></th>
			<th><a href="/blog">My Blog</a></th>
			<th>
			    {% if current_user.is_authenticated %}
			    <a href="{{ url_for('account.logout') }}">Logout</a>
			    {% else %}
			    <a href="{{ url_for('account.login')}}">Login</a>
			    {% endif %}
			</th>
			<th>
		</tr>
	</table>
</div>
<!-- The following code is to make the imagemap responsive -->
<script src="{{ url_for('static', filename='js/rwdImgMap.js') }}"></script>
<script>
$(document).ready(function(e) {
	$('img[usemap]').rwdImageMaps();
	
});
</script>
</body>
</html>

